<h1>
  Angular!!!
</h1>

<div class="class">
  <app-dirst-component [hobbies]="hobbies"></app-dirst-component>
</div>
<div class="class">
  <app-second-component></app-second-component>
</div>
<div class="class">
  <app-parent-data [name]="userName"></app-parent-data>
</div>
<div class="class">
  <app-directives></app-directives>
</div>
<div class="class">
  <app-if-render></app-if-render>
</div>
<div class="class">
  <app-events></app-events>
</div>
<div class="class">
  <app-emitter></app-emitter>
</div>
