* {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  padding-bottom: 200px;
}

.class {
  border: 3px solid #314cc588;
  padding: 3rem;
  margin: 1rem;
}

.display-column {
  display: flex;
  flex-direction: column;
}
